.card-item {
  list-style: none;
  color: gray;
}

.card-img {
  padding: 2rem 0 1rem 0;
  width: 80%;
}
strong {
  color: white;
}
.card-container {
    margin: 0 auto;
  width: 300px;
  height: 560px;
  background-color: #062226;
  text-align: center;
  box-shadow: 0rem 0rem 1rem gray;
}
.card-item-name {
  border-bottom: 2px solid #084851;
}
.card-item-list {
  width: 60%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: left;
  padding: 0;
  margin: auto auto;
}
/* character module */
.allcards-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}
.character-container {
  width: 100%;
}
.main-info-container {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: #062226 2px solid;
}
.general-container {
  width: 80%;
  margin: 3rem auto; /* this margin center all the cards container*/
}
.show-characters {
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #70d026;
  position: relative;
right: -23rem;
top:-1rem;
  
}
.fa-solid,
.fa-angles-down {
  color: #fcf072;
  font-size: 2rem;
}
.top{
    position: relative;
    right: -23rem;
    top: 2rem;
}